Repository ie3-institute/simona, pull requests merged in 2024-05, with the labels that each got.

#798 Fix ConfigFailFastSpec after Refsystem passing
  CHANGELOG.md
  src/main/resources/config/config-template.conf
  src/main/scala/edu/ie3/simona/config/ConfigFailFast.scala
  src/main/scala/edu/ie3/simona/config/RefSystemParser.scala
  src/main/scala/edu/ie3/simona/config/SimonaConfig.scala
  src/test/scala/edu/ie3/simona/config/ConfigFailFastSpec.scala
  src/test/scala/edu/ie3/simona/config/RefSystemParserSpec.scala
Labels: test

#812 Fix bug in default `RefSystem`.
  CHANGELOG.md
  src/main/scala/edu/ie3/simona/config/RefSystemParser.scala
  src/main/scala/edu/ie3/simona/model/grid/TransformerModel.scala
Labels: bug

#807 Fix GridSpec
  CHANGELOG.md
  src/test/scala/edu/ie3/simona/model/grid/GridSpec.scala
  src/test/scala/edu/ie3/simona/test/common/model/grid/FiveLinesWithNodes.scala
Labels: bug

#816 Fix color in log entry after power flow calculation
  CHANGELOG.md
  src/main/scala/edu/ie3/simona/io/runtime/RuntimeEventLogSink.scala
  src/test/scala/edu/ie3/simona/event/listener/RuntimeEventListenerSpec.scala
Labels: log
